.wkAppointmentVideo {
    height: 250px;
    width: 100%;
    background: #676666;
    text-align:center;
    align-items: center;
    position: relative;
}
.wkAppointmentVideoLeftArea {
    padding-right: 0;
}

.wkAppointmentVideoContent {
    position: absolute;
    top:50%;
    left:50%;
   transform: translate(-50%, -50%);
}

.wkAppointmentVideoButtonArea{
    position: relative;
 }

.wkAppointmentVideoButton{
    width:250px;
    padding: 10px;
    border-radius: 25px;
    background: rgba(0,0,0, 0.15);
}

.wkAppointmentVideoButton:hover{

    background: rgba(0,0,0, 0.5);
    border-color: rgba(0,0,0, 0.5);
}
.wkAppointmentVideoButton.focus, .wkAppointmentVideoButton:focus {
    box-shadow: 0 0 0 0.01rem rgba(0,0,0, 0.15);
}

.wkAppointmentVideoButton:not(:disabled):not(.disabled).active, .wkAppointmentVideoButton:not(:disabled):not(.disabled):active, .show>.wkAppointmentVideoButton.dropdown-toggle {
    color: #fff;
    background: rgba(0,0,0, 0.5);
    border-color: rgba(0,0,0, 0.5);
}


.wkAppointmentVideoIcon {
    position: absolute;
    top: 62%;
    left: -30%;
    transform: translate(0%, -50%);
}

.wkAppointmentVideoText {
    font-size: 18px;
}

.wkAppointmentVideoRightArea {
    background: #f6f5f3;
    /*padding-left: 0;*/
    position: relative;
}

.wkAppointmentVideoRightSubArea {
    padding-top: 20px;
    padding-left: 30px;
    max-height: 250px;
    overflow: hidden;
}

/*---------------Responsive Grid ---------------------*/
@media (max-width: 575.98px) {
    .wkAppointmentVideoRightSubArea {
        padding-top: 20px;
        position: inherit;
        text-align:center;
        max-height: unset;
        overflow: unset;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) {
    .wkAppointmentVideoRightSubArea {
        padding-top: 20px;
        position: inherit;
        text-align:center;
        max-height: unset;
        overflow: unset;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}