.singleAppointmentTimeTabSection{
    margin: 0 auto;
    width: 82%;
    background: #FCFCFC;
    padding: 30px 0px;
    min-height: 60vh;
}
.TimeBtn{
    min-height: 2rem;
}
.prescriptionBtn{

}
.paymentBtn{

}

.wkPatientTabbuttonActive {
    display: block;
    width: 100%;
    border: 1px solid #00695c;
    background-color: #00695c;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.wkPatientTabbuttonActive:hover {
    background:#00897b;
    box-shadow: 0rem 0.25rem 0.50rem rgba(0, 0, 0, 0.15);
}

.wkPatientTabbutton {
    display: block;
    width: 100%;
    border: 1px solid #00695c;
    background-color: #fff;
    color: #000;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.wkPatientTabbutton:hover {
    background: #00897b;
    color: #fff;
    box-shadow: 0rem 0.25rem 0.50rem rgba(0, 0, 0, 0.15);

}

.wkAlaringTimeText {
    background: #FE5866;
    color: #fff;
    padding: 5px;
    margin-bottom:0;
    margin-top:20px;
}
@media (min-width: 220px) and (max-width: 591.98px) {
    .singleAppointmentTimeTabSection{
        margin: 0 auto;
        width: 100%;
        background: #FCFCFC;
        padding: 30px;
        height: auto;
    }
}