/***************************
 =====Style Index =====
 1.Common tag style
 2.general Style
   1.button
   2.input
   3.common-class
**************************/
/*------live-doctor-colors------*/
/*Live-Doctor-PrimaryColor: #FE5866;*/

/*------------Common Tag Style -----------*/
/*p {*/
/*    font-size: 1.1em;*/
/*}*/
/*-------Bootstrape class--------*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: 'Lora', serif!important;
}

.btn-primary{
    border-color: transparent;
}
/*------------Button------------*/
.wk-general-button{
    background: #006953;
    border-radius: 0;
    border:1px solid #006953;
    padding: 5px 20px;
    min-width: 150px;
    margin-right: 2px;
}
.wk-general-button:hover{
    background: #fff;
    border-radius: 0;
    border:1px solid #006953;
    padding: 5px 20px;
    min-width: 150px;
    color:#000;
}
.wk-filter-active-button:hover {
    background: #006953;
    border-radius: 0;
    border:1px solid #006953;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #006953;
    cursor: not-allowed;
}
.wk-general-button:focus {
    color: #fff;
    background-color: #006953;
    box-shadow: none;
}
.wk-general-button.btn-primary:not(:disabled):not(.disabled).active,
.wk-general-button.btn-primary:not(:disabled):not(.disabled):active,
.show>.wk-general-button.btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #006953;
    box-shadow: none;
}
.wk-general-button:not(:disabled):not(.disabled):active:focus, .show>.wk-general-button.dropdown-toggle:focus {
    box-shadow: none;
}

.wk-general-small-button{
    background: #9C78C0;
    border-radius: 0;
    padding: 2px 20px;
    min-width: 110px;
}
.wk-general-small-button:hover{
    background: transparent;
    border: 0px;
    color: #000000;
    border:1px solid #006953;
}
.wk-general-small-button:focus {
    color: #fff;
    background-color: #006953;
    box-shadow: none;
}
.wk-general-small-button:not(:disabled):not(.disabled):active:focus, .show>.wk-general-button.dropdown-toggle:focus {
    box-shadow: none;
}


button.wk-filter-active-button, a.wk-filter-active-button, a.wk-filter-active-button:focus, button.wk-filter-active-button:focus {
    background: #fff;
    color: #000;
    border-radius: 0;
    border:1px solid #006953;
    padding: 5px 20px;
    min-width: 150px;
    margin-right: 2px;
}

.wk-general-select-button {
    background: #006953;
    border-radius: 0;
}

.wk-search-dn {
    border-radius: 0;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(0,0,0,.15);
}
/*---------------Input Style-----------*/
.wk-select-input {
   border-radius: 0;
    border-color: #006953;
}
.wk-select-input:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border: 1px solid #00897b!important;
    box-shadow: none;
}
.wk-apps-btn-download a{
    padding: 0px;
}
.wk-apps-btn-download img {
    height: 50px;
    width: auto;

}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow:none!important;
}

/*---------------Common Class Style-------------------*/
.wk-section-common-style {
    padding-top: 80px;
    padding-bottom: 40px;
}
.wb-service-counseling-link {
    text-decoration: underline;
    color:#000;
}

.wb-service-counseling-link:hover {
    text-decoration: underline;
    color: #006953;
}

/*-------------- Package Section----------------------*/
.wk-package-section {
    background: #f6f5f3;
}
.wk-packages-image {
    border-radius: 50%!important;
    width: 100px;
    height: auto;
}
.wk-package-card {
    border:0;
    border-radius:0;
    margin: 0;
    float: left;
    width: 100%;
    height:100%;
}
/*-------------Blog Section---------------------------*/
.wb-single-blog-card {
    background: #f6f5f3;
    padding:20px;
}

.wk-blog-image {
    height: 200px;
    width: auto;
}

/*---------------Responsive Grid ---------------------*/
@media (max-width: 575.98px) {
    .wk-apps-btn-download img {
        height: 40px;
        width: auto;
        margin-bottom: 30px;
    }
    .wk-section-common-style {
        padding-top: 40px;
    }
    .wk-filter-button-in-response {
        display: block;
        width:100%;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 4px;
    }
    .wk-filter-active-button {
        border:1px solid #fff;
        margin-right: 4px;
    }
    .wk-services-image-in-responsive{
        border-radius: 50%!important;
        width: 200px;
        height: auto;
    }
    .wk-package-section {
        margin-bottom: 20px;
    }
    .wk-announcement-text {
        padding-top: 40px;
    }
    .wk-blog-side-text {
        padding-top: 30px;
    }
    .wb-single-blog-card {
        padding:20px 5px;
    }
    .wk-general-button{
        margin-bottom: 4px;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) {
    .wk-apps-btn-download img {
        height: 40px;
        width: auto;
        margin-bottom: 30px;
    }
    .wk-general-button{
        margin-bottom: 4px;
    }
    .wk-section-common-style {
        padding-top: 40px;
    }
    .wk-filter-button-in-response {
        display: block;
        width:100%;
        margin-bottom: 4px;
    }
    .wk-filter-active-button {
        border:1px solid #fff;
    }
    .wk-services-image-in-responsive{
        border-radius: 50%!important;
        width: 200px;
        height: auto;
    }
    .wk-package-section {
        margin-bottom: 20px;
    }
    .wk-announcement-text {
        padding-top: 40px;
    }
    .wk-blog-side-text {
        padding-top: 30px;
    }
    .wb-single-blog-card {
        padding:20px 5px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}